{{ define "content" }}
  <h1 class="title is-1">Resources</h1>

  <div class="columns is-multiline">
  {{range .Resources}}
    {{if eq .State "provisioned"}}
      <div class="column is-3">
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">{{.Name}}</h3>
            <a href="/resources/{{.ID}}/sso" class="button is-small">SSO</a>
            <a href="/resources/{{.ID}}/delete" class="button is-warning">Deprovision</a>
          </div>
        </div>
      </div>
    {{end}}
  {{else}}
    <em>No Resources :(</em>
  {{end}}
  </div>
  <div class="columns is-multiline">
  {{range .Resources}}
    {{if ne .State "provisioned"}}
      <div class="column is-3">
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">{{.Name}}</h3>
            <h2 class="is-4">State: {{.State}}</h3>
          </div>
        </div>
      </div>
    {{end}}
  {{end}}
  </div>

  <section class="section">
    <div class="box">
      <h3 class="title is-3">New Provision</h3>
      <form class="form" method="post" action="/resources">

        <div class="field">
          <textarea name="features" class="textarea" placeholder="features as JSON (optional)">{{ .Features }}</textarea>
        </div>

        <div class="field">
          <input type="submit" class="button is-primary" value="Provision a Resource">
        </div>
      </form>
    </div>
  </section>
{{ end }}
