{{ define "content" }}
  <h1 class="title is-1">Resources</h1>

  {{if .Message }}
  <div class="notification is-success">
    Done: {{.Message}} - {{.Code}}
  </div>

  {{end}}
  {{range .Resources}}
    <div class="card">
      <div class="card-content">
        <h3 class="title is-4">{{.Name}}</h3>
      </div>
    </div>
  {{else}}
    <em>No Resources :(</em>
  {{end}}

  <section class="section">
    <div class="box">
      <h3 class="title is-3">New Provision</h3>
      <form class="form" method="post" action="/resources">

        <div class="field">
          <textarea name="features" class="textarea" placeholder="features as JSON (optional)"></textarea>
        </div>

        <div class="field">
          <input type="submit" class="button is-primary" value="Provision a Resource">
        </div>
      </form>
    </div>
  </section>
{{ end }}
